[submodule "meta-oe-core/bitbake"]
	path = meta-oe-core/bitbake
	url = https://gitlab.com/nature-linux/3rdparty/bitbake.git
[submodule "meta-oe-core/openembedded-core"]
	path = meta-oe-core/openembedded-core
	url = https://gitlab.com/nature-linux/3rdparty/openembedded-core.git
[submodule "meta-oe-core/meta-openembedded"]
	path = meta-oe-core/meta-openembedded
	url = https://gitlab.com/nature-linux/3rdparty/meta-openembedded.git
